
::-webkit-scrollbar{
    width: 0px;
}
.overflow-Container::-webkit-scrollbar-thumb{
    background: none;
}
.overflow-Container {
    overflow-y: scroll;
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    padding-top: 4px;
    max-height: 520px;
    border-bottom-left-radius: 25px;  
    border-bottom-right-radius: 25px;
    cursor: pointer;
}
.overflow-Container  > div div {
    font-size: 15px;
    font-weight: 600;
    position : relative;
    z-index: 1;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.overflow-Container  > div img{
    width: 260px; 
    height: 180px; 
    opacity: .6; 
    border-radius: 1px;
}
.overflow-Container  > div img:hover{
  box-shadow: .5px .5px 4px 2px rgba(101, 101, 101, 0.7);
  transition: all .3s ease-in-out;
  opacity: 1;
}