
::-webkit-scrollbar{
    width: 0px;
}
.overflow-Container::-webkit-scrollbar-thumb{
    background: none;
}
.overflow-Container {
    overflow-y: scroll;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    gap: 20px; 
    padding-top: 250px;
    /* height: 205px; */
    border-bottom-left-radius: 25px;  
    border-bottom-right-radius: 25px;
    cursor: pointer;
}